pkgbase = keeperfx-tux
	pkgdesc = KeeperFX Tux Edition — native Linux build of the Dungeon Keeper engine remake (alpha)
	pkgver = 1.4.0.5366
	pkgrel = 1
	url = https://github.com/ForkedInTime/keeperfx-linux-alpha
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = python
	makedepends = curl
	depends = sdl2-compat
	depends = sdl2_mixer
	depends = sdl2_net
	depends = sdl2_image
	depends = ffmpeg
	depends = openal
	depends = luajit
	depends = libspng
	depends = minizip
	depends = zlib
	depends = libepoxy
	depends = miniupnpc
	depends = libnatpmp
	depends = openssl
	depends = zstd
	optdepends = keeperfx-tux-data: the game data KeeperFX provides (campaigns, graphics, sounds)
	optdepends = p7zip: extract the upstream full.7z game-data archive
	optdepends = keeperfx-launcher-qt-linux: native Qt launcher, mod manager and data installer
	provides = keeperfx-tux=1.4.0.5366
	conflicts = keeperfx-linux-alpha
	conflicts = keeperfx-linux-alpha-git
	options = !strip
	options = !debug
	options = !lto
	source = keeperfx-tux::git+https://github.com/ForkedInTime/keeperfx-linux-alpha.git#tag=v1.4.0.5366-alpha
	source = keeperfx-tux.sh
	source = keeperfx-tux.desktop
	sha256sums = SKIP
	sha256sums = 1a4478f3b48063cbb92a2a094a4b9edb29b89a6e718901feb840a8b49748b6f4
	sha256sums = 36e539a5e409a059ddd6eedca32649473d41d3994454d286006e742adb00cacd

pkgname = keeperfx-tux
